@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Playfair+Display&family=Poppins:wght@300&display=swap');

:root{
    --Morado: #331B3B;
    --Morado2: rgba(51, 27, 59, 0.66);
    --Morado3: #2d1127;
    --White: #FFFFFF;
    --sm: 15px;
    --md: 17px;
}

body{
    background-color: #fffbff;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 24px;
}

.img-menu{
    display: none;
}

.navbar-left, .navbar-right{
    display: flex;
}

.navbar-left ul{
    margin-left: 18px;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}
.navbar-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-right ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin-right: 4rem;
}

.navbar-left ul li a{
    text-decoration: none;
    color: var(--Morado);
    border: 1px solid var(--White);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover{
    border: 1px solid var(--Morado3);
    color: var(--Morado);
    font-weight: 600;
}

nav h3{
    margin-right: 5rem;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 8px;
    letter-spacing: 0.01em;
    color: var(--Morado);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icono-face,.icono-link,.icono-insta{
    height: 17px;
}


