@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Playfair+Display&family=Poppins:wght@300&display=swap");

:root {
    --Morado: #331b3b;
    --Morado2: rgba(51, 27, 59, 0.66);
    --Morado3: #2d1127;
    --White: #ffffff;
    --sm: 15px;
    --md: 17px;
}

#second-section{
    margin-top: 10px;
}